# ============================================
# ANDMEBAASI KONFIGURATSIOON
# ============================================
# PostgreSQL server
DB_HOST=dev.vk.edu.ee
DB_PORT=5432
# Andmebaas
DB_NAME=dbYourname
# Autentimine
DB_USER=username
DB_PASSWORD=password
# Schema
DB_SCHEMA=books_api # schema peab DB-s olemas olema
# ============================================
# PRISMA CONNECTION STRING
# ============================================
DATABASE_URL=postgresql://username:password@dev.vk.edu.ee:5432/dbYourname?schema=boo
ks_api
# ============================================
# SERVERI KONFIGURATSIOON
# ============================================
PORT=3000
NODE_ENV=development